<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template Recipe</title>
</head>
<body>
    <a href="../index.html">Recipe Archive</a>
    <h1>Template Recipe</h1>
    <img src="../images/TEMP-PIC" alt="ALT DESC" height="310" width="310">
    <h2>Description</h2>
    <p>Description Paragraph</p>
    
    <h3>Ingredients</h3>
    <li>Ingredient 1</li>
    <li>Ingredient 2</li>
    
    <h3>Steps</h3>
    <li>1) Step 1</li>
    <li>2) Step 2</li>
    <li>3) Step 3</li>
    <li>4) Step 4</li>
    <li>5) Step 5</li>
</body>
</html>